{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    <title>Главная</title>
{% endblock %}


{% block content %}
    {% include 'mainapp/includes/inc_menu.html' %}
    <h1 id="root"></h1>
    <h1 class="index">Главная</h1>
    <div>Привет {{ user.name|title }}!</div>
    <div>{% now 'Y' %}</div>
    {% if array|length > 0 %}
        <h1>{{ array.0 }}</h1>
    {% endif %}
    {% for item in array %}
        <h1>{{ item }}</h1>
    {% endfor %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}